@import 'src/style/colors.scss';

.home-view-container {
  height: calc(100vh + 5rem);
  max-width: 100vw;
  background-color: $commonBlack;
  font-family: 'courier', serif;
  padding: 2rem;
}

@media (min-width: 769px) {
  .home-view-container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.text-container {
  color: $commonGreen;
}

.green-text-container {
  color: $commonGreen;
}
